<div class="col-md-12">
	<h1 align="center">Activity Post ( <%= obj.count %> )</h1><br>
</div>

<% obj.each do |activitypost| %>
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark"><%= activitypost.title %></h4>
		    <a href="<%= activity_post_path(activitypost) %>">
			  <li class="list-group-item"><%= truncate(activitypost.description, length: 280) %></li>
		    </a>
				<div class="card-footer" >
					<%= link_to '', approve_activity_post_path(activitypost), class: "btn btn-outline-success fa fa-check-circle-o", id: "approve_#{activitypost.id}", data: {confirm: "Are you sure you want to approve?"} if programmeleader? %>
					<%= link_to '', edit_activity_post_path(activitypost), class: "btn btn-outline-primary fa fa-pencil-square-o", id: "edit_#{activitypost.id}" if student_dashboard_action?(activitypost) %>		
					<%= link_to '', reject_activity_post_path(activitypost), id: "delete_#{activitypost.id}", data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger fa fa-trash" if programmeleader? %>
				</div>
	    </div>
	    <br>
	</div>
<% end %>