<div class="col-md-12">
	<h1 align="center">Event Post ( <%= obj.count %> )</h1><br>
</div>
<% obj.each do |eventpost| %>
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark"><%= eventpost.title %></h4>
		    <a href="<%= event_post_path(eventpost) %>">
			  <li class="list-group-item"><%= truncate(eventpost.description, length: 280) %></li>
		    </a>
		    <div class="card-footer">
				<%= link_to '', approve_event_post_path(eventpost), class: "btn btn-outline-success fa fa-check-circle-o", id: "approve_#{eventpost.id}", data: {confirm: "Are you sure you want to approve?"} if programmeleader? %>
				<%= link_to '', edit_event_post_path(eventpost), class: "btn btn-outline-primary fa fa-pencil-square-o", id: "edit_#{eventpost.id}" if student_dashboard_action?(eventpost) %>
				<%= link_to '', reject_event_post_path(eventpost), class: "btn btn-outline-danger fa fa-trash", id: "reject_#{eventpost.id}", data: {confirm: "Are you sure you want to reject?"} if programmeleader? %>
			</div>

	    </div>
	    <br>
	</div>
<% end %>