<div class="col-md-12">
	<h1 align="center">Module Post ( <%= @pending_modules.count %> )</h1><br>
</div>

<% @pending_modules.each do |modulepost| %>
	<div class="col-lg-4">
	  	<div class="card">
	      	<h4 class="card-header navbar-dark bg-dark"><%= modulepost.title %></h4>
		    <a href="<%= module_post_path(modulepost) %>">
			  <li class="list-group-item"><%= truncate(modulepost.description, length: 280) %></li>
		    </a>
		    <div class="card-footer">
				<%= link_to '', approve_module_post_path(modulepost), class: "btn btn-outline-primary fa fa-check-circle-o", id: "approve_#{modulepost.id}", data: {confirm: "Are you sure you want to approve?"} %>
				<%= link_to '', edit_module_post_path(modulepost), class: "btn btn-outline-success fa fa-pencil-square-o", id: "edit_#{modulepost.id}" %>
				<%= link_to '', reject_module_post_path(modulepost), class: "btn btn-outline-danger fa fa-trash", id: "reject_#{modulepost.id}", data: {confirm: "Are you sure you want to reject?"} %>
			</div>
	    </div>
	    <br>
	</div>
<% end %>