<div class="row dashboard-listing" id ="listing-post">
	<% if @pending_activities.empty? %>
		<li class="list-group-item">No Posts</li>
	<% else %>
		<div class="col-md-12">
			<h1 align="center">Activity Post Submitted</h1><br>
		</div>
		<% @pending_activities.each do |activitypost| %>
		<div class="col-lg-4">
		  	<div class="card">
		      	<h4 class="card-header navbar-dark bg-dark"><%= activitypost.title %></h4>
			    <a href="<%= activity_post_path(activitypost) %>">
				  <li class="list-group-item"><%= truncate(activitypost.description, length: 280) %></li>
			    </a>
			    <div class="card-footer">
					<%= link_to 'Approve', approve_activity_post_path(activitypost), class: "btn btn-primary btn-block", id: "approve_#{activitypost.id}" %>
					<%= link_to 'Review', edit_activity_post_path(activitypost), class: "btn btn-success btn-block", id: "edit_#{activitypost.id}" %>
					<%= link_to 'Reject', reject_activity_post_path(activitypost), class: "btn btn-danger btn-block", id: "reject_#{activitypost.id}" %>
				</div>
		    </div>
		    <br>
		</div>
		<% end %>
	<% end %>
</div>
<br>

<div class="row dashboard-listing" id ="listing-post">
	<% if @rejected_activities.empty? %>
		<li class="list-group-item">No Posts</li>
	<% else %>
		<div class="col-md-12">
			<h1 align="center">Activity Post Rejected</h1><br>
		</div>
		<% @rejected_activities.each do |activitypost| %>
		<div class="col-lg-4">
		  	<div class="card">
		      	<h4 class="card-header navbar-dark bg-dark"><%= activitypost.title %></h4>
			    <a href="<%= activity_post_path(activitypost) %>">
				  <li class="list-group-item"><%= truncate(activitypost.description, length: 280) %></li>
			    </a>
			    <div class="card-footer">
					<%= link_to 'Approve', approve_activity_post_path(activitypost), class: "btn btn-primary btn-block", id: "approve_#{activitypost.id}" %>
					<%= link_to 'Review', edit_activity_post_path(activitypost), class: "btn btn-success btn-block", id: "edit_#{activitypost.id}" %>
					<%= link_to 'Delete', activity_post_path(activitypost), method: :delete, id: "delete_#{activitypost.id}", data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block" %>
				</div>
		    </div>
		    <br>
		</div>
		<% end %>
	<% end %>
</div>
