<% if obj.empty? %>
	<p class="text-center">There is no CS Module Post. Please add some!</p>
<% else %>
	<% obj.each do |csmodule| %>
		<div class="card">
			<a href="<%= module_post_path(csmodule) %>" class="card-body">
				<h4 class="card-title"><%= "#{csmodule.title}" %> - <small ><%= time_ago_in_words("#{csmodule.created_at}") %> ago</small> </h4>
				<p class="card-text"><%= truncate(csmodule.description, length: 280) %></p>
				<%#= image_tag(csmodule.picture.url, :size => '200x200') if csmodule.picture? %>
				<p>- Posted by <%= csmodule.user.name %></p>
			</a>
			<% if policy(csmodule).update? %>
				<div class="card-footer">
					<%= link_to '', edit_module_post_path(csmodule), class: "btn btn-secondary fa fa-pencil-square-o", id: "edit_#{csmodule.id}" %>		
					<%= link_to '', module_post_path(csmodule), method: :delete, id: "delete_#{csmodule.id}", data: {confirm: "Are you sure?"}, class: "btn btn-danger fa fa-trash" %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>