<a href="<%= activity_post_path(obj) %>">
	<h2 class="card-title"><%= "#{obj.title}" %> </h2>
	<p class="card-text"><%= truncate(obj.description, length: 280) %></p>
	<%= render 'table_posts', obj: obj %>
	<%#= image_tag(csmodule.picture.url, :size => '200x200') if csmodule.picture? %>
	<p><%= obj.user.name.titleize %> posted <i ><%= time_ago_in_words("#{obj.created_at}") %> ago </i></p>
</a>