<%= form_for @activity_post do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %> ( Format: mm/dd/yyyy )
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %> ( Format: mm/dd/yyyy )
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :venue %>
    <%= f.text_field :venue, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_select :start_time,
  :combined => true,
  :label => "Label Name",
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30,
  :ampm => true
%>
  </div>
  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.time_select :end_time,
  :combined => true,
  :default => Time.now.change(:hour => 11, :min => 30),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30,
  :ampm => true
%>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <% if !@activity_post.new_record? && programmeleader? %>
    <div class="form-group">
      <%= f.radio_button :status, 'submitted' %>
      <%= f.label :status, 'Submit' %>
      <%= f.radio_button :status, 'approved' %>
      <%= f.label :status, 'Approved'  %>
      <%= f.radio_button :status, 'rejected' %>
      <%= f.label :status, 'Rejected' %>
    </div>
  <% end %>
  <%= f.submit "Save", class: "btn btn-primary btn-block" %>
<% end %>


<%#= @activity_post.inspect %>