<%= form_for @activity_post do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :venue %>
    <%= f.text_field :venue, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_select :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.time_select :end_time, class: "form-control" %>
  </div>

  <%= render partial: 'shared/status', locals: { f: f } if current_user.type == 'ProgrammeLeader' %>

  <%= f.submit "Save", class: "btn btn-primary btn-block" %>
<% end %>