<section id="section-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 section-module-column ">
        <h1 class="text-center"><%= @activity_post.title %></h1>
        <%= image_tag @activity_post.image.url, class: "rounded mx-auto d-block" if @activity_post.image? %>
        <br>
        <%= render 'table_posts', obj: @activity_post %>
        <p><%= @activity_post.description %></p>
        <br>
        <% if policy(@activity_post).update? %>
          <%= render 'activity_actions', obj: @activity_post %>
        <% end %>
      </div>
    </div>
  </div>
</section>
