<section id="section-module">
  <div class="container">
	<div class="row">
		<div class="col-md-10 section-module-column archive-posts">

	    	<h1 align="center">EVENT POSTS ARCHIVE</h1>
	    	<br>
	    	<% if @archive_event_posts.empty? %>
				<p class="text-center">There is no Event Post. Please add some!</p>
			<% else %>
		    	<table class="table table-sm table-bordered custom-table-header ">
				  <thead class="thead-dark">
				    <tr>
				      <th>Title</th>
				      <th>Start Date</th>
				      <th>End Date</th>
				      <th>Day</th>
				      <th>Description</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<div class="container pagination justify-content-center" >
				 	  <%= paginate @archive_event_posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
				 	</div>
				    <% @archive_event_posts.each do |eventpost| %>
					    <tr>
					      <td><%= link_to eventpost.title, activity_post_path(eventpost), style: "color:blue;" %></td>
					      <td><%= eventpost.date_in_words %></td>
					      <td><%= eventpost.end_date_in_words %></td>
					      <td><%= eventpost.get_name_of_day %></td>
					      <td><%= eventpost.description %></td>
					    </tr>
					<% end %>
				  </tbody>
				</table>
				<div class="container pagination justify-content-center" >
			 	  <%= paginate @archive_event_posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
			 	</div>
			<% end %>
	    </div>
	</div>
  </div>
</section>