<section id="section-module">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 section-module-column ">
        <h1 class="text-center"><%= @event_post.title %></h1>
        <%= image_tag @event_post.image.url, class: "rounded mx-auto d-block" if @event_post.image? %>
        <br>
        <%= render 'activity_posts/table_posts', obj: @event_post %>
        <p><%= @event_post.description %></p>
        <br>
        <% if policy(@event_post).update? %>
          <%= render 'event_actions', obj: @event_post %>
        <% end %>
      </div>
    </div>
  </div>
</section>
