<!-- TODO FIX ACTIVE NAV FOR SHOW ACTIONS -->
<ul class="navbar-nav mr-auto">
  <li class="<%= active?(activity_posts_path) %> <%= active?(activity_post_path(@activity_post)) if (params[:action] == "show" && @activity_post) %> nav-item">
    <a class="nav-link" href="<%= activity_posts_path %>">ACTIVITY</a>
  </li>
  <li class="<%= active?(event_posts_path) %> <%= active?(event_post_path(@event_post)) if (params[:action] == "show" && @event_post) %> nav-item">
    <a class="nav-link" href="<%= event_posts_path %>">EVENT</a>
  </li>
  <li class="<%= active?(module_posts_path) %> <%= active?(module_post_path(@module_post)) if (params[:action] == "show" && @module_post) %> nav-item">
    <a class="nav-link" href="<%= module_posts_path %>">MODULE</a>
  </li>

  <% if !lecturer? %>
    <li class="<%= active?(user_dashboards_path) %> nav-item">
      <a class="nav-link" href="<%= user_dashboards_path %>">DASHBOARD</a>
    </li>
  <% end %>
  
  <% if programmeleader? %>
   <li class="nav-item dropdown">
      <a class="<%= active?(user_imports_path) %> nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ADMIN
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= user_imports_path %>">IMPORT USER</a>
        <a class="dropdown-item" href="<%= new_admin_user_session_path %>">DASHBOARD</a>
      </div>
    </li>
  <% end %>

</ul>